<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 

	<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<link href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dojo/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/esri/css/esri.css" />
	<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3compact" type="text/javascript"></script>

	<script type="text/javascript" src="/lib/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="/javascripts/mymaps.js"></script>-->

	<script type="text/javascript" src="/lib/underscore.js"></script>
	<!--
	<script type="text/javascript" src="/lib/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/mygmaps.js"></script>
	-->

    <script>
        console.log("<%= store_name %>");
    </script>
    </head>
    <body>
        <form method='GET' action='/update/'<%= cartodb_id %>>
            <h2>Share what's available at <%= store_name %>:</h2>
            <span><%= address %>, <%= city %>, <%= state %></span>
            <h4>Grains</h4>
            <input id='bread' type='checkbox' name='bread'>
            <label for='bread'>Whole grain breads, rice, pasta, and pastries (including whole grain flours)</label>
            <br />
            <input id='cereal' type='checkbox' name='cereal'>
            <label for='cereal'>Whole grain cereals (including hot cereal mixes)</label>
            <br />
            <input id='popcorn' type='checkbox' name='popcorn'>
            <label for='popcorn'>Popcorn and other whole grain snacks</label>
            <br />
            <h4>Vegetables</h4>
            <input id='' type='checkbox' name='grain'>
            <label for='grain'>Grains, Bread, Cereals</label>
            <br />
            <input id='grain' type='checkbox' name='grain'>
            <label for='grain'>Grains, Bread, Cereals</label>
            <br />
            <input id='veg' type='checkbox' name='veg' >
            <label for='veg'>Vegetables: fresh, canned, or frozen</label>
            <br />
            <input id='fruit' type='checkbox' name='fruit' >
            <label for='fruit'>Fruits: whole fruits and fruit juices</label>
            <br />
            <input id='milk' type='checkbox' name='milk' >
            <label for='milk'>Milk Products: milk, cheese, yogurt, etc.</label>
            <br />
            <input id='meat' type='checkbox' name='meat' >
            <label for='meat'>Meat, Beans, Nuts, Eggs</label>
            <br />
            <br />
            <input type='submit' name='Submit'>
            </form>
    </body>
</html>
    
